[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
celery = "*"
redis = "*"
flower = "*"
pandas = "*"
aiofiles = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"
